html,body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

h1{
    background-color: black;
    color:white;
    padding: 5px 0;
    text-align: center;
    margin: 0;
}
h3{
    color:white;
}

.parent{
    display: flex;
    height: 94.8%;
    background-image: url("https://live.staticflickr.com/7402/8977644211_b995f575e1_z.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.list{
    flex: 3;
}
.form{
    flex: 1;
    background:rgba(253, 253, 253, 0.454);
    box-shadow: -20px 6px 21px 0px rgba(88,206,222,0.75);
    -webkit-box-shadow: -20px 6px 21px 0px rgba(88,206,222,0.75);
    -moz-box-shadow: -20px 6px 21px 0px rgba(88,206,222,0.75);
}
.my-control{
    display: flex;
    margin-bottom: 10px;
    padding: 5px;
}

.my-control label{
    width: 110px;
    text-align: left;
    margin-right: 5px;
}
.my-control input, .my-control select, .my-control textarea{
    flex-grow: 1;
}
.icon{
    font-size: 35px;
    color: red;
    cursor: pointer;
}
#task-list{
    padding: 7px 30px;
    margin-top: 10px;
}
.task{
    border: 1px solid rgb(248, 85, 10);
    background-color: rgba(248, 85, 10, 0.475);
    padding: 7px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 3px;
    font-weight: bold;
    display: flex;
    color: white;
}
.task label{
    display: block;
}
.task .head{
    flex: 3;
}
.task .middle{
    flex: 1;
}
.task .tail{
    flex: 1;
}

  
 